 {% extends "base.html" %}
 {% load static %}

{% block head %}
<head>
    
    <title>FreshMarket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>    
{% endblock %}

{% block content %}
<body>
    <a href="{% url 'home' %}">Home</a>
    Register
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form> <br> <br>
    <a href="{% url 'login' %}">Log in</a>
    
</body>  
{% endblock %} 
