 {% extends "base.html" %}
 {% load static %}

{% block head %}
<head>
    
    <title>FreshMarket USER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>    
{% endblock %}

{% block content %}
<body>
    USER {{name}}

    {% if seller %}
        <form action="/seller/" method="GET">
            <button type="submit">To seller account</button>
        </form>
    {% else %}
        <form action="/seller/create/" method="GET">
            <button type="submit">Become a seller</button>
        </form>
    {% endif %}
 
    <form action="/auth/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>  
{% endblock %} 
